
<div class="decouverte">
    <div class="decouverte__service">
        <div class="decouverte__service__content">
            <h1>Nos services</h1>
            <p>Pour votre confort, plusieurs service sont à votre disposition.</p>
        </div>
        <div class="decouverte__service__img">
            <img src="../../assets/imgChambre/entree2BD.jpg" alt="entree">
        </div>
    </div>
    <div class="decouverte__kitchen">
        <div class="decouverte__kitchen__img">
            <img src="../../assets/imgChambre/Cuisine.jpg" alt="kitchen">
        </div>
        <div class="decouverte__kitchen__content">
            <h2>Cuisine</h2>
            <ul>
                <li>Préparation de panier picnic sur demande.</li>
                <li>Un café, un thé, une boisson sur demande.</li>
                <li>Pour déguster foie gras, pastis. A deux pas de chez nous : découvrez "la ferme auberge du vieux chêne"</li>
            </ul>
        </div>
    </div>
    <div class="decouverte__diningRoom">
        <div class="decouverte__diningRoom__content">
            <h2>Petit déjeuner</h2>
            <p>Un petit déjeuner américain est compris dans le tarif de la chambre.</p>
            <p>Véronique vous accueillera avec des produits locaux, du pain frais, des œufs frais, boissons chaudes etc.</p>
            <p>Service : de 7h30 à 10h</p>
        </div>
        <div class="decouverte__diningRoom__img">
            <img src="../../assets/imgChambre/petit dejeuner.jpg" alt="diningroom">
        </div>
    </div>
    <div class="decouverte__pool">
        <div class="decouverte__pool__img">
            <img src="../../assets/imgChambre/Piscine.jpg" alt="pool">
        </div>
        <div class="decouverte__pool__content">
            <h2>Piscine</h2>
            <p>La piscine est accessible à des heures précises, vous rapprocher des hôtes pour plus d'informations.</p>
        </div>
    </div>
</div>