<div class="tourism">
    <div class="tourism__tense">
        <div class="tourism__tense__content">
            <h1>Les Landes</h1>
            <p>A proximité des activités trés variées vous attendent, balades équestres, circuits randonnées, visites patrimoniales comme le château et Plantarium de Gaujacq, la Maison et ArchéoParc de la Dame, la Maison de la Vannerie, le quillier de 9, l'océan...</p>
        </div>
        <video autoplay muted loop id="myVideo">
            <source src="https://video.wixstatic.com/video/11062b_cda73a0a7bfa4145a3834e48feb4e84a/1080p/mp4/file.mp4" type="video/mp4">
        </video>
     </div>
    <div class="tourism__link">
        <div class="tourism__link__img1">
            <h2>Le Surf</h2>
            <img src="../../assets/imgChambre/surf.jpg" alt="surf">
        </div>
        <div class="tourism__link__img2">
            <h2>La Chalosse</h2>
            <img src="../../assets/imgChambre/chalosse.jpg" alt="chalosse">
        </div>
        <div class="tourism__link__img3">
            <h2>La Maison de la Vannerie</h2>
            <img src="../../assets/imgChambre/Vannier Chalosse.jpg" alt="Vannerie">
        </div>
        <div class="tourism__link__img6">
            <h2>L'océan</h2>
            <img src="../../assets/imgChambre/ocean.jpg" alt="ocean">
        </div>
        <div class="tourism__link__img5">
            <h2>Les fêtes de village</h2>
            <img src="../../assets/imgChambre/FETES PATRONALES.jpg" alt="fete">
        </div>
        <div class="tourism__link__img7">
            <h2>Le quillier de 9</h2>
            <img src="../../assets/imgChambre/Quiller-CN--1--2.jpg" alt="quillier">
        </div>
        <div class="tourism__link__img4">
            <h2>Espelette</h2>
            <img src="../../assets/imgChambre/espelette.jpg" alt="espelette">
        </div>
        <div class="tourism__link__img8">
            <h2>ArchéoParc de la Dame</h2>
            <img src="../../assets/imgChambre/Maison-de-la-Dame-2.jpg" alt="ArchéoParc">
        </div>
        <div class="tourism__link__img9">
            <h2>Les promenade à cheval</h2>
            <img src="../../assets/imgChambre/promenade-cheval.jpg" alt="cheval">
        </div>
        <div class="tourism__link__img10">
            <h2>La randonnée</h2>
            <img src="../../assets/imgChambre/rando.jpg" alt="Randonnee">
        </div>
        <div class="tourism__link__img11">
            <h2>Le Musée de la Chalosse</h2>
            <img src="../../assets/imgChambre/museedelachalosse.jpg" alt="musee">
        </div>
    </div>
</div>