
<p>list-chambre works!</p>

<div *ngIf='chambre' class="detailChambreContainer">
    <div class="detailChambreContainer__chambreContainer">
      <div class="detailChambreContainer__chambreContainer__image">
        <img src="./assets/imgChambre/Chambre coquelicot.jpg" alt="coquelicot">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <h3>{{ chambre.name }}</h3>
            <p><small>{{ chambre.description }}</small></p>
            <p>{{ chambre.service }}</p>
            <h3>Prix de la chambre: {{chambre.price}}</h3>
        </div>
      </div>
    </div>
</div>

