
<div class="navBarre">
    <img src="../../assets/imgChambre/logo.png" alt="logo">
    <nav>
        <ul>
            <li><a routerLink="/acceuil" routerLinkActive="active" ariaCurrentWhenActive="page">Acceuil</a></li>
            <li><a routerLink="/chambre/all" routerLinkActive="active" ariaCurrentWhenActive="page">Chambres</a></li>
            <li><a routerLink="/decouverte" routerLinkActive="active" ariaCurrentWhenActive="page">Lieux</a></li>
            <li><a routerLink="/reservation" routerLinkActive="active" ariaCurrentWhenActive="page">Réservation</a></li>
            <li><a routerLink="/tourisme" routerLinkActive="active" ariaCurrentWhenActive="page">Tourisme</a></li>
        </ul>
    </nav>
</div>


<router-outlet></router-outlet>
