
<div class="navBarre">
    <img src="../../assets/imgChambre/logo.png" alt="logo">
    <nav>
        <ul>
            <li><a routerLink="/acceuil" routerLinkActive="active" ariaCurrentWhenActive="page">Acceuil</a></li>
            <li><a routerLink="/chambre/all" routerLinkActive="active" ariaCurrentWhenActive="page">Chambres</a></li>
            <li><a routerLink="/decouverte" routerLinkActive="active" ariaCurrentWhenActive="page">Lieux</a></li>
            <li><a routerLink="/reservation" routerLinkActive="active" ariaCurrentWhenActive="page">Réservation</a></li>
            <!-- Pour la V2 -->
            <!-- <li><a routerLink="/inscription" routerLinkActive="active" ariaCurrentWhenActive="page">inscription</a></li> -->
            <li><a routerLink="/tourisme" routerLinkActive="active" ariaCurrentWhenActive="page">Tourisme</a></li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>

<div class="footer">
    <div class="footer__line"></div>
    <div class="footer__adresse">
        <h2>Maison Lalanne</h2>
        <p>576 Route de Dax - 40360  Castelnau-Chalosse</p>
        <h3>Contactez nous: +33 5 58 55 37 07 / +33 6 85 45 56 36</h3>
    </div>
    <div class="footer__contact">
        <a href="https://www.facebook.com/maisonLalanne"><img src="../../assets/imgChambre/fb.png" alt="facebook"></a>
        <a href="https://www.instagram.com/maisonlalanne/?hl=fr"><img src="../../assets/imgChambre/insta.png" alt="instagrame"></a>
    </div>
    <div class="footer__ref">
        <img src="../../assets/imgChambre/logo_chambre-dhotes-reference.jpg" alt="">
        <a href="https://www.landes-chalosse.com/"><img src="../../assets/imgChambre/logo-landes-chalosses.png" alt=""></a>
    </div>
</div>